name: Deploy Dev

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: npm ci
      - run: npm run build

      - run: npx vercel deploy --yes --token=${{ secrets.VERCEL_TOKEN }}
